*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: blueviolet;
    color: white;
    padding: 15px 0 15px 15px;
}




span{
    color: tomato;
    font-weight: 700;
    font-size: 1.5rem;
}

main{
    height: 200px;
    padding: 40px 0 0 20px;
    background-color: #58f372;
}

.contenedor_subparrafo{
    padding: 20px;
    margin: 20px;
    background-color: rgb(226, 43, 98);
    color:white;
    font-weight: 700;
}

footer{
    background-color: rgb(32, 30, 34);
    margin-top: 50px;
    padding: 20px 0 20px 10px;
    color: rgb(71, 200, 255);
}

